* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #406ec6;
}

.nav {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6vw;
  height: 75px;
  width: 100%;
  border-bottom: 0.16vw solid #406ec6;
}

.nav1 {
  font-size: 2.75vw;
  font-weight: 700;
  transition: font-size 0.3s ease;
}

.nav2 {
  display: flex;
  align-items: center;
  gap: 4vw;
  text-transform: capitalize;
}

.nav2 h4 {
  padding: 0.4vw 0.8vw;
}

.nav2 button {
  font-size: 1vw;
  padding: 0.6vw 1.2vw;
  background-color: #406ec6;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 800;
  transition: all 0.3s ease;
}

.nav2 i {
  font-size: 2.5vw;
  display: none;
}

.content {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  background-color: blanchedalmond;
  position: relative;
}

.left {
  width: 55%;
  background-color: white;
  padding: 6vw 7vw;
}

.left h1 {
  font-size: 4vw;
  line-height: 3.8vw;
}

.left span {
  color: #406ec6;
}

.left p {
  font-weight: 400;
  font-size: 1.6vw;
  color: gray;
  width: 80%;
  margin-top: 2vw;
  margin-bottom: 4vw;
}

button {
  font-size: 1.2vw;
  padding: 1.3vw 2.3vw;
  background-color: #406ec6;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.right {
  width: 45%;
  background-color: white;
}

.right img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

/* 🔽 Responsive Media Query */
@media (max-width: 600px) {
  .nav {
    height: 50px;
    font-size: 4vw;
    font-weight: 700;
  }

  .nav1 {
    font-size: 6vw;
  }

  .nav2 i {
    display: block;
    font-weight: 800;
    font-size: 20px;
  }

  .nav2 h4 {
    display: none;
  }

  .nav2 button {
    font-size: 3.5vw;
    padding: 1vw 2vw;
    /* display: none; */
  }

  .left {
    width: 100%;
    height: 50%;
    padding: 10vw 6vw;
  }

  .right {
    width: 100%;
    height: 50%;
    /* display: none; */
  }

  .left h1 {
    font-size: 9vw;
    line-height: 10vw;
  }

  .left p {
    margin-top: 10vw;
    font-size: 4vw;
    margin-bottom: 10vw;
    width: 90%;
  }

  .content{
    height: calc(100% - 50px);
    flex-direction: column;
  }
  button {
    font-size: 5vw;
    padding: 2vw 4vw;
    border-radius: 9999px;
  }
}
